@mixin shadow-level-1 {
  box-shadow: 0px 1px 3px 0px rgba(1, 1, 1, 0.12);
}

.shadow-level-1 {
  @include shadow-level-1;
}

@mixin shadow-level-2 {
  box-shadow: 0px 1px 3px 0px rgba(1, 1, 1, 0.12), 0px 1px 1px 0px rgba(1, 1, 1, 0.14), 0px 2px 1px 0px rgba(1, 1, 1, 0.2);
}

.shadow-level-2 {
  @include shadow-level-2;
}

@mixin shadow-level-3 {
  box-shadow: 0px 1px 8px 0px rgba(1, 1, 1, 0.12), 0px 3px 4px 0px rgba(1, 1, 1, 0.14);

}

.shadow-level-3 {
  @include shadow-level-3;
}

@mixin shadow-level-4 {
  box-shadow: 0px 1px 8px 0px rgba(1, 1, 1, 0.12), 0px 3px 4px 0px rgba(1, 1, 1, 0.12), 0px 3px 3px 0px rgba(1, 1, 1, 0.12);

}

.shadow-level-4 {
  @include shadow-level-4;
}

@mixin shadow-level-5 {
  box-shadow: 0px 1px 18px 0px rgba(1, 1, 1, 0.12), 0px 6px 10px 0px rgba(1, 1, 1, 0.14);

}

.shadow-level-5 {
  @include shadow-level-5;
}
