.radio-button-large {
  height: 16px;
  width: 16px;
  border: 1px solid var(--black-tint-70);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  flex: none;
  margin-right: 12px;

  &:hover {
    background-color: var(--blue);
    border-color: var(--blue);
  }

  &--selected {
    border: 4px solid var(--blue);
  }
}

.radio-button-small {
  height: 12px;
  width: 12px;
  border: 1px solid var(--black-tint-70);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 8px;

  &:hover {
    background-color: var(--blue);
    border-color: var(--blue);
  }

  &--selected {
    border: 3px solid var(--blue);
  }
}
