@mixin base-tabs {
  display: flex;

  .tab {
    @include body-s;
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    margin-right: 16px;
    padding: 0 0 2px 0;
  }
}

.fds-tabs {
  @include base-tabs;

  .tab {
    color: var(--black-tint-70);

    &:hover {
      border-color: var(--black-tint-70);
    }

    &:active {
      color: var(--black-tint-40);
      border-color: var(--black-tint-40);
    }

    &--active {
      color: var(--black-tint-20);
      border-color: var(--blue);
    }
  }
}

.fds-tabs--dark {
  @include base-tabs;

  .tab {
    color: var(--black-tint-70);

    &:hover {
      border-color: var(--black-tint-70);
    }

    &:active {
      color: var(--black-tint-90);
      border-color: var(--black-tint-90);
    }

    &--active {
      color: var(--white);
      border-color: var(--blue);
    }
  }
}

.fds-tabs--gray {
  @include base-tabs;

  .tab {
    color: var(--black-tint-40);

    &:hover {
      border-color: var(--black-tint-40);
    }

    &:active {
      color: var(--black-tint-20);
      border-color: var(--black-tint-20);
    }

    &--active {
      color: var(--black-tint-20);
      border-color: var(--blue);
    }
  }
}
