@mixin avatar-base {
  border-radius: 50%;
  display: inline-block;
  object-fit: cover;
  overflow: hidden;
  position: relative;

  &:after {
    align-items: center;
    background: linear-gradient(var(--black-tint-70), var(--black-tint-40));
    color: var(--white);
    content: attr(alt);
    display: inline-flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.avatar-large {
  @include avatar-base;
  @include body(var(--font-weight-bold));
  height: 48px;
  width: 48px;
}

.avatar-medium {
  @include avatar-base;
  @include body-xs;
  height: 32px;
  width: 32px;
}

.avatar-small {
  @include avatar-base;
  @include body-xs;
  height: 24px;
  width: 24px;
}

.avatar-overlap {
  & > .avatar-large:not(:first-child) {
    margin-left: -12px;
  }
  & > .avatar-medium:not(:first-child) {
    margin-left: -8px;
  }
  & > .avatar-small:not(:first-child) {
    margin-left: -4px;
  }
}
