@mixin disabled-button {
  &:disabled {
    background-color: var(--black-tint-90);
    border-color: var(--black-tint-90);
    color: var(--black-tint-70);
    cursor: not-allowed;
  }
}

@mixin base-button {
  @include body(var(--font-weight-bold));
  @include disabled-button;
  cursor: pointer;
  padding: 5px 28px;
}

@mixin base-button-icon {
  @include body-s(var(--font-weight-bold));
  @include disabled-button;
  height: 32px;
  width: 300px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0 0 1.5rem;
  text-align: left;

  > *:first-child {
    height: auto;
    width: 16px;
    margin-right: 0.5rem;
  }
}

@mixin raised-button-shadow {
  box-shadow: 0px 3px 5px var(--black-tint-90), 0px 1px 18px var(--black-tint-95), 0px 6px 10px var(--black-tint-90);
}

.button-primary {
  @include base-button;
  background-color: var(--blue-shade-20);
  border: 1px solid var(--blue-shade-20);
  color: var(--white);

  &:hover:enabled {
    @include raised-button-shadow;
    background-color: var(--blue);
    border-color: var(--blue);
  }

  &:active:enabled {
    background-color: var(--blue-shade-40);
    border-color: var(--blue-shade-40);
  }
}

.button-secondary {
  @include base-button;
  background-color: var(--white);
  border: 1px solid var(--black-tint-40);
  color: var(--black-tint-40);

  &:hover:enabled {
    background-color: var(--black-tint-95);
  }

  &:active:enabled {
    background-color: var(--black-tint-90);
  }
}

.button-secondary-small {
  @extend .button-secondary;
  @include body-s(var(--font-weight-bold));
  padding: 5px 16px;
}

.button-primary-icon {
  @include base-button-icon;
  background-color: var(--blue-shade-20);
  border: 1px solid var(--blue-shade-20);
  color: var(--white);

  &:hover:enabled {
    @include raised-button-shadow;
    background-color: var(--blue);
    border-color: var(--blue);
  }

  &:active:enabled {
    background-color: var(--blue-shade-40);
    border-color: var(--blue-shade-40);
  }
}

.button-secondary-icon {
  @include base-button-icon;
  background-color: var(--white);
  border: 1px solid var(--black-tint-40);
  color: var(--black-tint-40);

  &:hover:enabled {
    background-color: var(--black-tint-95);
  }

  &:active:enabled {
    @include raised-button-shadow;
    background-color: var(--black-tint-90);
  }
}

.text-button {
  @include body;
  background: none;
  border: none;
  color: var(--blue-shade-20);
  cursor: pointer;
  padding: 0;
  text-decoration: none;

  &:hover:enabled {
    text-decoration: underline;
  }

  &:active:enabled {
    color: var(--blue-shade-40);
  }

  &:disabled {
    color: var(--black-tint-70);
    cursor: not-allowed;
  }
}
