:root {
  /* UI Colors */
  --black: #000000;
  --white: #ffffff;
  --tuna: #323641;
  --dark-cerulean: #08487d;
  --dodger-blue: #0f83e3;
  --tawny: #d14c0e;
  --light-salmon: #ffa378;

  /* Grays */
  --gray-0: #fafafa;
  --gray-1: #f5f5f5;
  --gray-2: #eeeeee;
  --gray-3: #cccccc;
  --gray-4: #97979f;
  --gray-5: #666666;
  --gray-6: #505055;
  --gray-7: #333333;

  /* Text Colors */
  --text-color: var(--black);
  --secondary-text-color: var(--gray-5);

  /* Classroom Colors */
  --minerva-orange: #f45910;
  --minerva-orange-dark: #d14c03;
  --minerva-orange-light: #ffa378;
  --submit-blue: #125ea2;
  --submit-blue-dark: #08487d;
  --submit-blue-light: #0f83e3;

  /* HCs/Grades */
  /* Poll Colors */
}

.bg-gray-2 {
  background-color: var(--gray-2);
}
