// Default link style will be applied to all <a> elements
a {
  color: var(--blue-shade-20);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: var(--blue-shade-40);
  }
}
