// Default link style will be applied to all <a> elements
a {
  color: var(--blue-shade-20);
  text-decoration: none;

  &:hover {
    color: var(--blue);
    text-decoration: underline;
  }

  &:active {
    color: var(--blue-shade-40);
  }
}

a.underlined-link, .underlined-links a {
  color: var(--blue-shade-20);
  text-decoration: underline;

  &:hover {
    color: var(--blue);
  }

  &:active {
    color: var(--blue-shade-40);
  }
}
