@font-face {
  font-family: "Chronicle Deck A", "Chronicle Deck B";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chronicle Deck A", "Chronicle Deck B";
  font-weight: 600;
  font-style: normal;
}

:root {
  --serif-font-family: "Chronicle Deck A", "Chronicle Deck B", "Chronicle SSm A", "Chronicle SSm B", serif;
  --sans-font-family: "acumin-pro", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
}

@mixin h1 {
  font-family: var(--serif-font-family);
  font-size: 2.25rem; // 36px
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: calc(11 / 9); // 44px
}

.h1 {
  @include h1;
}

@mixin h2 {
  font-family: var(--serif-font-family);
  font-size: 1.5rem; // 24px
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: calc(4 / 3); // 32px
}

.h2 {
  @include h2;
}

@mixin h3 {
  font-family: var(--serif-font-family);
  font-size: 1.125rem; // 18px
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: calc(4 / 3); // 24px
}

.h3 {
  @include h3;
}

@mixin h4 {
  font-family: var(--serif-font-family);
  font-size: 0.875rem; // 14px
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: calc(10 / 7) // 20px
}

.h4 {
  @include h4;
}

@mixin body-l($font-weight: var(--font-weight-normal)) {
  font-family: var(--sans-font-family);
  font-size: 1.125rem; // 18px
  font-style: normal;
  font-weight: $font-weight;
  line-height: calc(4 / 3); // 24px
}

.body-l {
  @include body-l;
}

@mixin body($font-weight: var(--font-weight-normal)) {
  font-family: var(--sans-font-family);
  font-size: 1rem; // 16px
  font-style: normal;
  font-weight: $font-weight;
  line-height: 1.5; // 24px
}

.body {
  @include body;
}

@mixin body-s($font-weight: var(--font-weight-normal)) {
  font-family: var(--sans-font-family);
  font-size: 0.875rem; // 14px
  font-style: normal;
  font-weight: $font-weight;
  line-height: calc(10 / 7) // 20px
}

.body-s {
  @include body-s;
}

@mixin body-xs($font-weight: var(--font-weight-normal)) {
  font-family: var(--sans-font-family);
  font-size: 0.75rem; // 12px
  font-style: normal;
  font-weight: $font-weight;
  line-height: calc(4 / 3); // 16px
}

.body-xs {
  @include body-xs;
}

.bold {
  font-weight: var(--font-weight-bold);
}
